.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 35%;

}

.afiliaciones{
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 2px solid black;
}

.redes:hover{
	border: 2px solid white;
	transform: scale(1.2);
	border-radius: 50%;
}